
.nav-pills .nav-link.active, .nav-pills {
    width: inherit !important;
    height: inherit !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    /* border: 3px solid #000  !important; */
    font-weight: bold;
    font-size: inherit !important;
    background: #e60202 !important;
    box-shadow: none !important;
    /* box-shadow: 0px 5px 10px 1px #b80000; */
}
.gameImg{
    border: 2px solid #FCE05F;
}
.tabStyles{
    min-height: 54.33px;
    min-width: 70px;
max-width: max-content;
    padding: 8px 10px ;
    align-items: center;
} 
.allImg{
    width: 30px ;
    height: 30px;
   }
.categories{
    background: #C80000;
     overflow-x: scroll;
    justify-content: stretch !important;
   }
  
.categories::-webkit-scrollbar{
    display: none;
}
.categoryItem{
     display: flex;
    align-items: stretch; 
    align-self: stretch ;
    background: none !important;
    vertical-align: middle;
    text-wrap: nowrap !important;

}
.nav-pills .nav-link{
    border-radius: 0 !important;
    padding: 10px 4px 0 4px;

}
@media screen and (min-width:900px) {
    /* .imgStyles{
        width: 250px;
        height: auto;
    } */

    .tabStyles{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:500px) {
    .categoryItem{
        font-size: 14px;
        line-height: 16px;
    }
}
@media screen and (max-width:400px) {
    .categoryItem{
        font-size: 11px;
        line-height: 14px;
    }
   .tabStyles{
    min-width: 50px;
   }
   .tabStyles img{
    width: 30px;
    height: 28px;
   }
   .allImg{
    width: 28px !important;
    height: 28px;
   }
}


