.navbars{
    cursor: pointer;
    /* background: #e3b10e; */
    /* background: #F7F7F7; */
    background: #B70000;
    box-shadow: 0 3px 3px #b81212;
    color: #ddd;
    width: 100%;
}
.profileIcon{
    font-size: 25px;
}

@media screen and  (max-width:500px) {
    .profileIcon{
        font-size: 20px;
    }
}
@media screen and  (max-width:400px) {
    .profileIcon{
        font-size: 18px;
    }
    .playerId{
        font-size: 16px;
    }
}
@media screen and  (max-width:340px) {
    .playerId{
        font-size: 15px;
    }
}